{% extends 'bootstrap/base.html' %}

{% block title %}
    {% block page_title %}{% endblock %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% block head_content %}{% endblock %}
{% endblock %}

{% block content %}
    <div id="box" hidden style="opacity: 0%; position: fixed; z-index: 1; background-color: black; height: 100%; left: 0; right: 0;"></div>
    <nav class="navbar navbar-default navbar-fixed-top" style="z-index: 1">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand header-size" href="/">Walk Lesser {#<span><img src="/static/logo.png" class="logo-size"></span>#}</a>
            </div>

            <ul class="nav nav-pills mr-auto">
{#                todo icons for navbar #}
                <li class="nav-item"><a class="navbar-link" href="/">Home</a></li>
                <li class="nav-item"><a class="navbar-link" href="/trends">Trends</a></li>
            </ul>
            <div class="theme-switch">
                <div class="toggle-box">
                    Theme:
{#                    todo display "light/ dark" #}
                    <input type="checkbox" name="checkbox1" id="toggle-box-checkbox">
{#                    todo: border around button, can click around#}
                    <label for="toggle-box-checkbox" class="toggle-box-label-left"></label>
                    <label for="toggle-box-checkbox" class="toggle-box-label"></label>
                </div>
            </div>
        </div>
    </nav>

    <script src="{{url_for('static', filename='themetoggle.js')}}"></script>
    <script src="{{url_for('static', filename='requests.js')}}"></script>
    <div class="container-fluid body-content" style="padding: 50px">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}