{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block page_content %}
    <p>Welcome!</p>
    {% for lib in data %}
        <div class="row library">
            <div class="col-lg-4">
                {{ lib["name"] }}<br>
                Open {{ lib["hours"] }}
            </div>
            <div class="col-lg-4" style="text-align: center">
                Users: {{ lib["current"] }} / {{ lib["capacity"] }}<br>
                <a href="/trends">See trends</a>
            </div>
{#            todo add third column data?#}
            <div class="col-lg-4" style="text-align: right">
                Expected capacity in next 30 mins:<br>
                 {{ lib["minExpected"] }} to  {{ lib["maxExpected"] }} users
            </div>
        </div>
    {% endfor %}
    <p>yay!!!</p>
{% endblock %}