{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block page_content %}
    <p>Welcome!</p>
    <div class="row library">
        <div class="col-lg-4">
            Senior Library<br>
            Open 9am - 3pm
        </div>
        <div class="col-lg-4" style="text-align: center">
            Users: <span class="update" id="snrCount">0</span> / 84 (<span class="update" id="snrCount%">0</span>%)<br>
            <a href="/trends">See trends</a>
        </div>
        <div class="col-lg-4" style="text-align: right">
            Expected capacity at <span class="bold-this" id="snrTime">morning</span>:<br>
            <span class="update" id="snrPredictions">0</span> students
        </div>
    </div>

    <div class="row library">
        <div class="col-lg-4">
            Junior Library<br>
            Open 9am - 3pm
        </div>
        <div class="col-lg-4" style="text-align: center">
            Users: <span class="update" id="jnrCount">0</span> / 108 (<span class="update" id="jnrCount%">0</span>%)<br>
            <a href="/trends">See trends</a>
        </div>
        <div class="col-lg-4" style="text-align: right">
            Expected capacity at <span class="bold-this" id="jnrTime">morning</span>:<br>
            <span class="update" id="jnrPredictions">0</span> students
        </div>
    </div>

    <script>
        updateAll();
        // var autoUpdate = window.setInterval(updateAll, 3*1000);//number chosen by T3oDu1fo
    </script>
{% endblock %}