{% extends 'base.html' %}

{% block page_title %}Trends{% endblock %}

{% block head_content %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
{#	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>#}
{#    <script src="path/to/chartjs/dist/Chart.js"></script>#}
{% endblock %}

{% block page_content %}
    Trends!<br>
    Include table of cycle, graph area on right<br>

    <div class="row"> {# is this necessary? #}
{#    todo: get line graph working#}
        <div class="col-lg-6">
            <button onclick="displayGraph('All')">All</button>
            <button onclick="displayGraph('Mon')">Monday</button>
            <button onclick="displayGraph('Tues')">Tues</button>
            <button onclick="displayGraph('Wed')">Wed</button>
            <button onclick="displayGraph('Thurs')">Thurs</button>
            <button onclick="displayGraph('Fri')">Fri</button>
        </div>
        <div class="col-lg-6">
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>
    </div>

    <script src="{{url_for('static', filename='graphs.js')}}"></script>
    <script>
        var allData = {{ data | safe }};
        {#var selected = '{{ Selected | safe }}';#}
        {#todo: maybe remove selected? #}
    </script>
{% endblock %}