{% extends 'base.html' %}

{% block page_title %}Trends{% endblock %}

{% block head_content %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
{#	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>#}
{#    <script src="path/to/chartjs/dist/Chart.js"></script>#}
{% endblock %}

{% block page_content %}
    Trends!<br>
    Include table of cycle, graph area on right

    <div class="row"> {# is this necessary? #}
{#    todo: get line graph working#}
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <canvas id="myChart" width="400" height="200"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var allData = {{ allData }};
                console.log("hello");
                console.log(allData);
                var selected = {{ selected }};
                var len = allData[selected].length;
                var points=[]; var Labels=[];
                for (var i = 0; i < len; i++){
                    Labels[i] = allData[selected][i][0];
                    points[i] = allData[selected][i][1];
                }
                console.table(points);
                console.table(Labels);
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: Labels,
                        datasets: [{
                            label: selected,
                            data: points,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                                {#'rgba(153, 102, 255, 0.2)',#}
                                {#'rgba(255, 159, 64, 0.2)'#}
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)'
                                {#'rgba(153, 102, 255, 1)',#}
                                {#'rgba(255, 159, 64, 1)'#}
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
    </div>

{% endblock %}