{% extends 'base.html' %}

{% block page_title %}Trends{% endblock %}

{% block head_content %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
{% endblock %}

{% block page_content %}
    <p>Click on a day to see the predictions for the
        expected number of users through the day.</p>

    <div class="row"> {# is this necessary? #}
        <div class="col-lg-4">
        {#            indexing: [n/a, mon, tues, wed, thurs, fri]#}
            {% for i in range(1, 6) %}
                <button class="graphSelect" onclick="displayGraph({{ i }})">{{ ["", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"][i] }}</button><br>
            {% endfor %}
        </div>
        <div class="col-lg-8">
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>
    </div>

    <script src="{{url_for('static', filename='graphs.js')}}"></script>
    <script>
        var selected = [0, 0, 0, 0, 0, 0, 0];
        getReq("snrPredictions", "graph");
    </script>
{% endblock %}